# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyc
.python-version
env/
venv/
.venv/

# SQLite / DB
*.db
*.sqlite3

# ML artifacts
*.pkl
*.joblib

# Environment files
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Misc
dist/
build/
coverage/
coverage.*
*.cover
.cache/
